@charset "UTF-8";
@-webkit-keyframes header-scroll {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(30px);
    opacity: 0;
  }
}
@keyframes header-scroll {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(30px);
    opacity: 0;
  }
}
@-webkit-keyframes header-background {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes header-background {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes arrow-right {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(6px);
  }
  100% {
    transform: translatex(0px);
  }
}
@keyframes arrow-right {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(6px);
  }
  100% {
    transform: translatex(0px);
  }
}
button {
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: white;
}

mark {
  background-color: rgba(255, 255, 52, 0.8);
}

@-webkit-keyframes image-zoom-out {
  from {
    transform: scale(1.2, 1.2);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes image-zoom-out {
  from {
    transform: scale(1.2, 1.2);
  }
  to {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes rotate-img {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-img {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes up-down-left {
  0% {
    transform: translateY(-20rem);
  }
  50% {
    transform: translateY(20rem);
  }
  100% {
    transform: translateY(-20rem);
  }
}
@keyframes up-down-left {
  0% {
    transform: translateY(-20rem);
  }
  50% {
    transform: translateY(20rem);
  }
  100% {
    transform: translateY(-20rem);
  }
}
/* 스크롤매직 */
.back-to-position {
  opacity: 0;
  transition: 1s;
}

.back-to-position.to-right {
  transform: translateX(-100px);
}

.back-to-position.to-right_2 {
  transform: translateX(-200px);
}

.back-to-position.to-left {
  transform: translateX(100px);
}

.back-to-position.to-left_2 {
  transform: translateX(200px);
}

.back-to-position.to-top {
  transform: translateY(-100px);
}

.back-to-position.to-top_2 {
  transform: translateY(-50px);
}

.back-to-position.to-bottom {
  transform: translateY(100px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

.show .back-to-position.delay-0 {
  transition-delay: 1s;
}

.show .back-to-position.delay-1 {
  transition-delay: 2s;
}

#wrap {
  position: relative;
  overflow-x: hidden;
}
#wrap #page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
}
#wrap #page .page-head {
  width: 100%;
  padding: 0 120rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 30;
}
#wrap #page .page-head .page-subject {
  width: 170rem;
  height: 46rem;
  margin-top: 6rem;
}
#wrap #page .page-head .page-subject .page-logo {
  height: 100%;
  background-image: url(../img/logo_white.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#wrap #page .page-head .page-subject .page-name {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
  visibility: hidden;
}
#wrap #page .page-head .page-navi {
  width: 480rem;
}
#wrap #page .page-head .page-navi .section-wrap .section-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
  visibility: hidden;
}
#wrap #page .page-head .page-navi .section-wrap .section-body .gnb-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap #page .page-head .page-navi .section-wrap .section-body .gnb-list .gnb-item {
  padding: 36rem 0;
  position: relative;
}
#wrap #page .page-head .page-navi .section-wrap .section-body .gnb-list .gnb-item::before {
  content: "";
  display: block;
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 44rem;
  left: 50%;
  border-radius: 50%;
  background-color: #EE242E;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;
}
#wrap #page .page-head .page-navi .section-wrap .section-body .gnb-list .gnb-item:hover::before {
  opacity: 1;
  top: 28rem;
  left: 94%;
  width: 8rem;
  height: 8rem;
}
#wrap #page .page-head .page-navi .section-wrap .section-body .gnb-list .gnb-item button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#local .local-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
  visibility: hidden;
}

#content .content-wrap .content-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
  visibility: hidden;
}
#content .content-wrap .content-body .section-wrap {
  padding: 160rem 0;
}
#content .content-wrap .content-body .section-wrap .section-head .section-subject {
  font-family: "Times New Roman", Times, serif;
  font-size: 44rem;
  color: #4d4d4d;
  font-weight: normal;
}
#content .content-wrap .content-body .section-wrap .section-head .section-summary {
  margin-top: 14rem;
  font-weight: 400;
  line-height: 26rem;
  color: #646464;
}

.display-board.main {
  padding: 0 200rem;
  position: relative;
  height: 1000rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.display-board.main::before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  left: calc(50vw - 50%);
  height: 100%;
  background-image: url(../img/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation: image-zoom-out 8s forwards;
          animation: image-zoom-out 8s forwards;
  z-index: -100;
}
.display-board.main .board-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 240rem;
  padding-top: 130rem;
}
.display-board.main .board-wrap .board-head {
  display: flex;
  flex-direction: column;
  color: white;
}
.display-board.main .board-wrap .board-head .board-subject {
  order: 2;
  font-size: 68rem;
  font-weight: bold;
}
.display-board.main .board-wrap .board-head .board-creed {
  order: 1;
  font-size: 18rem;
  margin-bottom: 10rem;
  font-weight: 300;
}
.display-board.main .board-body .intro-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.display-board.main .board-body .intro-info .section.ability {
  display: flex;
}
.display-board.main .board-body .intro-info .section.ability .section-wrap .section-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
  visibility: hidden;
}
.display-board.main .board-body .intro-info .section.ability .section-wrap .section-body {
  display: flex;
  gap: 8rem;
}
.display-board.main .board-body .intro-info .section.ability .section-wrap .section-body .ability-name {
  display: flex;
  gap: 8rem;
  text-transform: capitalize;
  font-family: "noto sans";
  color: white;
}
.display-board.main .board-body .intro-info .section.ability .section-wrap .section-body .ability-name:last-child::before {
  content: "/";
  display: block;
}
.display-board.main .board-body .intro-info .scroll-area .scroll-icon .arrow-down {
  font-size: 18rem;
  color: white;
  -webkit-animation: header-scroll 1.6s infinite;
          animation: header-scroll 1.6s infinite;
}
.display-board.main .board-body .intro-info .section.sns .section-wrap .section-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
  visibility: hidden;
}
.display-board.main .board-body .intro-info .section.sns .section-wrap .section-body .sns-list {
  display: flex;
  align-items: center;
  gap: 28rem;
}
.display-board.main .board-body .intro-info .section.sns .section-wrap .section-body .sns-list .sns-item .sns-icon {
  width: 28rem;
  height: 28rem;
}

.section.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 200rem;
  position: relative;
}
.section.intro .subsection.ability:last-child {
  margin-top: 100rem;
}
.section.intro .subsection.ability .subsection-wrap {
  display: flex;
}
.section.intro .subsection.ability .subsection-wrap .subsection-head {
  flex: 1 1 30%;
}
.section.intro .subsection.ability .subsection-wrap .subsection-head .subsection-subject {
  font-size: 26rem;
  font-family: "Times New Roman", Times, serif;
  color: #4d4d4d;
}
.section.intro .subsection.ability .subsection-wrap .subsection-head .subsection-subject .subsection-name {
  display: flex;
  gap: 2rem;
}
.section.intro .subsection.ability .subsection-wrap .subsection-head .subsection-subject .subsection-name::before {
  content: "*";
  display: block;
  color: #EE242E;
}
.section.intro .subsection.ability .subsection-wrap .subsection-body {
  flex: 1 1 100%;
}
.section.intro .subsection.ability .subsection-wrap .subsection-body table {
  width: 100%;
  text-align: center;
  border-top: 2rem solid rgb(90, 90, 90);
  border-right: hidden;
  border-left: hidden;
  border-collapse: collapse;
  border-spacing: 0;
}
.section.intro .subsection.ability .subsection-wrap .subsection-body table caption {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
  visibility: hidden;
}
.section.intro .subsection.ability .subsection-wrap .subsection-body table th {
  color: #191d26;
  padding: 16rem 0;
  background-color: rgb(247, 247, 247);
  border-bottom: 1rem solid rgb(216, 219, 225);
  border-right: 1rem solid rgb(216, 219, 225);
  border-left: 1rem solid rgb(216, 219, 225);
}
.section.intro .subsection.ability .subsection-wrap .subsection-body table td {
  color: #373b44;
  padding: 14rem 0;
  border-bottom: 1rem solid rgb(216, 219, 225);
  border-right: 1rem solid rgb(216, 219, 225);
  border-left: 1rem solid rgb(216, 219, 225);
}

.display-board.welcome {
  padding: 0 280rem;
  height: 300rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.display-board.welcome::before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  left: calc(50% - 50vw);
  z-index: -10;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.display-board.welcome .board-body {
  text-align: right;
}
.display-board.welcome .board-body .board-text {
  color: white;
  font-size: 26rem;
  line-height: 40rem;
}

.section.web-port {
  position: relative;
  padding: 0 280rem;
}
.section.web-port::before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  left: calc(50% - 50vw);
  top: 0;
  bottom: 0;
  z-index: -1;
  background: rgb(247, 247, 247); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(247, 247, 247) 90%, rgb(255, 255, 255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f7f7f7", endColorstr="#ffffff",GradientType=0 ); /* IE6-9 */
}
.section.web-port .section-body {
  position: relative;
}
.section.web-port .section-body .posts-display {
  margin-top: 60rem;
}
.section.web-port .section-body .posts-display .posts-list .posts-item .posts-figure .posts-thumnail {
  overflow: hidden;
  border-radius: 8rem;
  border: 1rem solid #eee;
}
.section.web-port .section-body .posts-display .posts-list .posts-item .posts-figure .posts-thumnail .posts-image {
  display: block;
  width: 100%;
  transition: all 0.3s ease;
  border-radius: 8rem;
}
.section.web-port .section-body .posts-display .posts-list .posts-item .posts-figure .posts-thumnail .posts-image:hover {
  transform: scale(1.02);
}
.section.web-port .section-body .posts-display .posts-list .posts-item .posts-inform {
  text-align: right;
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
}
.section.web-port .section-body .posts-display .posts-list .posts-item .posts-inform .posts-head .posts-subject {
  font-size: 18rem;
  line-height: 24rem;
  font-weight: 500;
  color: #313131;
}
.section.web-port .section-body .posts-display .posts-list .posts-item .posts-inform .posts-body .data-list {
  font-size: 14rem;
  font-weight: 300;
}
.section.web-port .section-body .posts-display .posts-list .posts-item .posts-inform .posts-body .data-list .data-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
  visibility: hidden;
}
.section.web-port .section-body .button-display {
  position: absolute;
  top: -110rem;
  right: 0;
}
.section.web-port .section-body .button-display .button-area .swiper-button-next,
.section.web-port .section-body .button-display .button-area .swiper-button-prev {
  margin: 0;
  width: 42rem;
  height: 42rem;
  top: 0rem !important;
  border: 1px solid #646464;
  border-radius: 50%;
}
.section.web-port .section-body .button-display .button-area .swiper-button-next::after,
.section.web-port .section-body .button-display .button-area .swiper-button-prev::after {
  font-size: 13rem !important;
  position: relative;
  color: #646464;
}
.section.web-port .section-body .button-display .button-area .swiper-button-next {
  right: 0;
}
.section.web-port .section-body .button-display .button-area .swiper-button-next::after {
  right: -1rem;
}
.section.web-port .section-body .button-display .button-area .swiper-button-prev {
  left: auto;
  right: 62rem;
}
.section.web-port .section-body .button-display .button-area .swiper-button-prev::after {
  left: -1rem;
}

.section.design {
  padding: 0 280rem;
}
.section.design .section-wrap .section-head {
  position: relative;
  overflow: visible;
  background-color: white;
}
.section.design .section-wrap .section-head::before {
  content: "";
  display: block;
  position: absolute;
  top: -98rem;
  left: -108rem;
  z-index: -1;
  width: 230rem;
  height: 230rem;
  background-image: url(../img/round.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: rotate-img 8s linear infinite;
          animation: rotate-img 8s linear infinite;
}
.section.design .section-wrap .section-body {
  width: 100vw;
  height: auto;
  margin-top: 60rem;
}
.section.design .section-wrap .section-body .posts-display .posts-list .posts-item {
  overflow: hidden;
}
.section.design .section-wrap .section-body .posts-display .posts-list .posts-item .posts-wrap .posts-figure .posts-thumnail img {
  display: block;
  width: 100%;
  transition: all 0.3s ease;
}
.section.design .section-wrap .section-body .posts-display .posts-list .posts-item .posts-wrap .posts-figure .posts-thumnail img:hover {
  transform: scale(1.03);
}

.subsection.skills {
  padding: 140rem 0;
  box-sizing: border-box;
}
.subsection.skills .subsection-wrap .subsection-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
  visibility: hidden;
}
.subsection.skills .subsection-wrap .subsection-head .subsection-subject {
  font-size: 26rem;
  font-family: "Times New Roman", Times, serif;
  color: #4d4d4d;
}
.subsection.skills .subsection-wrap .subsection-head .subsection-subject .subsection-name {
  display: flex;
  gap: 2rem;
}
.subsection.skills .subsection-wrap .subsection-head .subsection-subject .subsection-name::before {
  content: "*";
  display: block;
  color: #EE242E;
}
.subsection.skills .subsection-wrap .subsection-body {
  display: flex;
  flex-direction: column;
  row-gap: 36rem;
}
.subsection.skills .subsection-wrap .subsection-body .posts-display {
  width: 2000rem;
  left: 50%;
  margin-left: -1000rem;
}
.subsection.skills .subsection-wrap .subsection-body .posts-display .posts-list {
  padding: 10rem;
  box-sizing: border-box;
  transition-timing-function: linear;
}
.subsection.skills .subsection-wrap .subsection-body .posts-display .posts-list .posts-item .posts-wrap {
  width: 200rem;
  height: 200rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16rem;
  box-shadow: 0rem 0rem 10rem 1rem rgb(240, 240, 240);
}
.subsection.skills .subsection-wrap .subsection-body .posts-display .posts-list .posts-item .posts-wrap .posts-head {
  visibility: hidden;
}

#footer {
  padding: 60rem 320rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(25, 29, 38);
}
#footer .section-container {
  width: 100%;
  display: flex;
}
#footer .section-container:first-child {
  padding-bottom: 20rem;
  box-sizing: border-box;
  border-bottom: 1rem solid #373b44;
  display: flex;
  align-items: center;
}
#footer .section-container:first-child::after {
  content: "";
  display: block;
  width: 180rem;
  height: 40rem;
  background-image: url(../img/logo_gray.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#footer .section-container:last-child {
  margin-top: 22rem;
}
#footer .section-container .section {
  width: 100%;
  display: flex;
}
#footer .section-container .section:not(.family-site) .section-wrap .section-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
  visibility: hidden;
}
#footer .section-container .section.notice .section-body {
  color: #999da8;
}
#footer .section-container .section.notice .section-body .para {
  line-height: 26rem;
  font-weight: 400;
}
#footer .section-container .section.personal-info .section-body {
  display: flex;
  flex-direction: column;
  font-size: 13rem;
  gap: 10rem;
  color: #999da8;
}
#footer .section-container .section.personal-info .section-body .data-list {
  display: flex;
}
#footer .section-container .section.personal-info .section-body .data-list .data-item:nth-child(2) {
  display: flex;
}
#footer .section-container .section.personal-info .section-body .data-list .data-item:nth-child(2)::before, #footer .section-container .section.personal-info .section-body .data-list .data-item:nth-child(2)::after {
  content: "|";
  display: block;
  margin: 0rem 10rem;
}
#footer .section-container .section.family-site {
  width: 250rem;
}
#footer .section-container .section.family-site .section-wrap {
  width: 100%;
  position: relative;
}
#footer .section-container .section.family-site .section-wrap:not(:focus-within) .section-body {
  display: none;
}
#footer .section-container .section.family-site .section-wrap .section-head .section-subject .section-name {
  width: 100%;
  height: 42rem;
  padding: 0 12rem 0 16rem;
  box-sizing: border-box;
  line-height: 24rem;
  font-weight: 500;
  font-size: 14rem;
  border: 1rem solid rgb(105, 109, 118);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4rem;
  color: #afb2bb;
}
#footer .section-container .section.family-site .section-wrap .section-head .section-subject .section-name::after {
  content: "";
  display: block;
  width: 34rem;
  height: 34rem;
  background-image: url(../svg/Chevron-Up-Small.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
#footer .section-container .section.family-site .section-wrap .section-body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(100% + 4rem);
  padding: 16rem 0;
  border-radius: 4rem;
  background-color: rgb(25, 29, 38);
  border: 1rem solid rgb(105, 109, 118);
  color: #afb2bb;
}
#footer .section-container .section.family-site .section-wrap .section-body .navi-list {
  display: flex;
  flex-direction: column;
  font-size: 14rem;
  font-weight: 500;
}
#footer .section-container .section.family-site .section-wrap .section-body .navi-list .navi-item {
  padding: 12rem 14rem;
}
#footer .section-container .section.family-site .section-wrap .section-body .navi-list .navi-item:hover {
  color: white;
  background-color: rgb(55, 59, 68);
}

@media (max-width: 1440px) {
  .display-board.main {
    padding: 0 120rem;
  }
}
@media (max-width: 1440px) {
  .section.web-port {
    padding: 0 120rem;
  }
}
@media (max-width: 1440px) {
  .section.design {
    padding: 0 120rem;
  }
}
@media (max-width: 1240px) {
  .display-board.main .scroll-area {
    display: none;
  }
}
@media (max-width: 1640px) {
  .section.intro {
    padding: 0 120rem;
  }
}
@media (max-width: 1240px) {
  .section.intro .subsection-wrap {
    flex-direction: column;
    row-gap: 20rem;
  }
}
@media (max-width: 1440px) {
  #footer {
    padding: 60rem 120rem;
  }
}
@media (max-width: 1440px) {
  .display-board.welcome {
    padding: 0 120rem;
  }
}