@charset "UTF-8";
@-webkit-keyframes header-scroll {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(30px);
    opacity: 0;
  }
}
@keyframes header-scroll {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(30px);
    opacity: 0;
  }
}
@-webkit-keyframes header-background {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes header-background {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
.em.accent-01 {
  color: #ef6759;
  font-size: 48rem;
}

#wrap {
  position: relative;
  overflow-x: hidden;
}
#wrap #page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
}
#wrap #page .page-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
}

#local .local-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
}
#local .local-info {
  padding: 120rem 90rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#local .local-info .intro-display {
  display: flex;
  flex-direction: column;
}
#local .local-info .intro-display .intro-item {
  display: flex;
  align-items: center;
  gap: 40rem;
}
#local .local-info .intro-display .intro-item .intro-text {
  font-family: "Suez One";
  text-transform: capitalize;
  font-size: 144rem;
}
#local .local-info .intro-display .intro-item .img-wrap {
  width: 100%;
  height: 126rem;
  display: block;
  overflow: hidden;
}
#local .local-info .intro-display .intro-item .img-wrap .intro-img {
  height: 100%;
  display: block;
  background: url(../img/bg_header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#local .local-info .intro-info {
  margin-top: 100rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#local .local-info .intro-info .section.ability .section-wrap .section-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
}
#local .local-info .intro-info .section.ability .section-wrap .section-body {
  display: flex;
  gap: 8rem;
}
#local .local-info .intro-info .section.ability .section-wrap .section-body .ability-name {
  display: flex;
  gap: 8rem;
  text-transform: capitalize;
  font-family: "noto sans";
  color: rgb(53, 53, 53);
}
#local .local-info .intro-info .section.ability .section-wrap .section-body .ability-name:last-child::before {
  content: "/";
  display: block;
}
#local .local-info .intro-info .scroll-area .scroll-icon .arrow-down {
  font-size: 20rem;
  color: rgb(53, 53, 53);
  -webkit-animation: header-scroll 1.6s infinite;
          animation: header-scroll 1.6s infinite;
}
#local .local-info .intro-info .section.sns .section-wrap .section-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
}
#local .local-info .intro-info .section.sns .section-wrap .section-body .sns-list {
  display: flex;
  align-items: center;
  gap: 28rem;
}
#local .local-info .intro-info .section.sns .section-wrap .section-body .sns-list .sns-item .sns-icon {
  width: 28rem;
  height: 28rem;
}
#local .local-info .intro-info .section.sns .section-wrap .section-body .sns-list .sns-item .sns-icon.blog {
  background-image: url(../svg/sns_blog.svg);
}
#local .local-info .intro-info .section.sns .section-wrap .section-body .sns-list .sns-item .sns-icon.infl {
  background-image: url(../svg/sns_infl.svg);
}
#local .local-info .intro-info .section.sns .section-wrap .section-body .sns-list .sns-item .sns-icon.kakao {
  background-image: url(../svg/sns_kakao.svg);
}
#local .local-info .intro-info .section.sns .section-wrap .section-body .sns-list .sns-item .sns-icon.insta {
  background-image: url(../svg/sns_insta.svg);
}

#content {
  padding: 0 320rem;
  box-sizing: border-box;
}
#content .content-wrap .content-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
}
#content .content-wrap .content-body .display-board {
  margin-top: 30rem;
  height: 300rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#content .content-wrap .content-body .display-board::before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  left: calc(50% - 50vw);
  z-index: -10;
  background-image: url(/img/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#content .content-wrap .content-body .display-board .board-body {
  text-align: right;
}
#content .content-wrap .content-body .display-board .board-body .board-text {
  color: white;
  font-size: 24rem;
  line-height: 34rem;
}
#content .content-wrap .content-body .section.intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#content .content-wrap .content-body .section.intro .section-wrap .section-head .section-subject {
  font-family: "Times New Roman", Times, serif;
  font-size: 48rem;
  color: #4d4d4d;
  text-transform: capitalize;
  font-weight: normal;
  margin-bottom: 14rem;
}
#content .content-wrap .content-body .section.intro .section-wrap .section-head .section-summary {
  font-weight: 400;
  line-height: 26rem;
  color: #646464;
}
#content .content-wrap .content-body .section.web-port {
  position: relative;
}
#content .content-wrap .content-body .section.web-port::before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  left: calc(50% - 50vw);
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgb(242, 242, 242);
}
#content .content-wrap .content-body .section.web-port .section-wrap {
  padding: 100rem 0;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-head .section-subject {
  font-family: "Times New Roman", Times, serif;
  font-size: 48rem;
  color: #4d4d4d;
  text-transform: capitalize;
  font-weight: normal;
  margin-bottom: 14rem;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-head .section-summary {
  font-weight: 400;
  line-height: 26rem;
  color: #646464;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper {
  width: 100%;
  height: 420rem;
  display: flex;
  position: relative;
  top: -50rem;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-wrapper {
  order: 2;
  align-items: flex-end !important;
  gap: 58rem;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-wrapper .swiper-slide {
  width: 376rem !important;
  height: auto;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-wrapper .swiper-slide .posts-display .posts-list .posts-item .posts-figure {
  width: 380rem;
  height: 256rem;
  border-radius: 10rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0rem 0rem 10rem #aaa;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-wrapper .swiper-slide .posts-display .posts-list .posts-item .posts-figure .posts-thumnail .posts-image {
  display: block;
  width: 100%;
  transition: 0.2s ease-out;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-wrapper .swiper-slide .posts-display .posts-list .posts-item .posts-figure .posts-thumnail .posts-image:hover {
  transform: scale(1.03);
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-wrapper .swiper-slide .posts-display .posts-list .posts-item .posts-wrap {
  text-align: right;
  margin-top: 10rem;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-wrapper .swiper-slide .posts-display .posts-list .posts-item .posts-wrap .posts-head .posts-subject {
  font-size: 18rem;
  color: #2f2f2f;
  font-weight: 500;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-wrapper .swiper-slide .posts-display .posts-list .posts-item .posts-wrap .posts-head .posts-subject .posts-name .refer {
  font-size: 14rem;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-wrapper .swiper-slide .posts-display .posts-list .posts-item .posts-wrap .posts-body .posts-data .posts-list .posts-item.date .head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-wrapper .swiper-slide .posts-display .posts-list .posts-item .posts-wrap .posts-body .posts-data .posts-list .posts-item.date .body {
  font-size: 14rem;
  font-weight: 200;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-button-next,
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-button-prev {
  order: 1;
  margin: 0;
  width: 44rem;
  height: 44rem;
  top: 0 !important;
  border: 1px solid #646464;
  border-radius: 50%;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-button-next::after,
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-button-prev::after {
  font-size: 16rem !important;
  position: relative;
  color: #646464;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-button-next {
  right: 0;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-button-next::after {
  right: -1rem;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-button-prev {
  left: auto;
  right: 64rem;
}
#content .content-wrap .content-body .section.web-port .section-wrap .section-body .swiper .swiper-button-prev::after {
  left: -1rem;
}
#content .content-wrap .content-body .section.design {
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  position: relative;
  padding: 160rem 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#content .content-wrap .content-body .section.design .section-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 100rem;
}
#content .content-wrap .content-body .section.design .section-wrap .section-head {
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: -9999rem;
}
#content .content-wrap .content-body .section.design .section-wrap .section-head::after {
  content: "";
  display: block;
  width: 461rem;
  height: 100rem;
  background: url(/svg/section-title_2.svg) no-repeat center;
}
#content .content-wrap .content-body .section.design .section-wrap .section-body .swiper {
  padding: 10rem 0;
}
#content .content-wrap .content-body .section.design .section-wrap .section-body .swiper .swiper-wrapper .swiper-slide {
  width: 330rem;
  height: 330rem;
  overflow: hidden;
  margin-left: 66rem;
  border-radius: 12rem;
  box-shadow: 0rem 0rem 4rem #aaa;
}
#content .content-wrap .content-body .section.design .section-wrap .section-body .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  transition: 0.3s ease;
}
#content .content-wrap .content-body .section.design .section-wrap .section-body .swiper .swiper-wrapper .swiper-slide img:hover {
  transform: scale(102%);
}
#content .content-wrap .content-body .section.design .section-wrap .section-body .swiper-pagination {
  position: relative;
  margin-top: 80rem;
}
#content .content-wrap .content-body .section.design .section-wrap .section-body .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ef6759;
}

#page-foot {
  padding: 0 300rem;
  background-color: #f4f4f4;
  box-shadow: 0rem 0rem 2rem #aaa;
}
#page-foot .footer-wrap {
  padding: 40rem 0;
}
#page-foot .footer-wrap .footer-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
}
#page-foot .footer-wrap .footer-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #292929;
}
#page-foot .footer-wrap .footer-body .footer-column .site-usage {
  font-size: 15rem;
  line-height: 27rem;
}
#page-foot .footer-wrap .footer-body .footer-column .copyright {
  font-size: 13rem;
  line-height: 27rem;
  letter-spacing: 0.5rem;
}
#page-foot .footer-wrap .footer-body .footer-column .privacy {
  font-size: 13rem;
  letter-spacing: 0.5rem;
  display: flex;
  gap: 6rem;
}
#page-foot .footer-wrap .footer-body .footer-column .privacy .privacy-name,
#page-foot .footer-wrap .footer-body .footer-column .privacy .privacy-number {
  display: flex;
  gap: 6rem;
}
#page-foot .footer-wrap .footer-body .footer-column .privacy .privacy-name::after,
#page-foot .footer-wrap .footer-body .footer-column .privacy .privacy-number::after {
  content: "·";
  display: block;
}

@media (max-width: 1440px) {
  #local .local-info .intro-info .section.ability .section-wrap .section-body .ability-name {
    font-size: 14rem;
  }
  #local .local-info .intro-info .section.sns .section-wrap .section-body .sns-list .sns-item .sns-icon {
    width: 26rem;
    height: 26rem;
  }
  #local .local-info .intro-display .intro-item {
    gap: 20rem;
  }
  #local .local-info .intro-display .intro-item .intro-text {
    font-size: 100rem;
  }
  #local .local-info .intro-display .intro-item .img-wrap {
    height: 100rem;
  }
  #content {
    padding: 0 140rem;
  }
  #content .content-wrap .content-body .section.web-publishing .section-wrap .section-body .posts-display .posts-list {
    justify-content: center;
    row-gap: 50rem;
    -moz-column-gap: 40rem;
         column-gap: 40rem;
  }
  #page-foot {
    padding: 0 100rem;
  }
  #page-foot .footer-wrap .footer-body {
    flex-direction: column;
    align-items: center;
    gap: 20rem;
    text-align: center;
  }
}
@media (max-width: 768px) {
  #local .local-info {
    height: auto;
    padding: 80rem 20rem;
  }
  #local .local-info .intro-display .intro-item {
    gap: 10rem;
  }
  #local .local-info .intro-display .intro-item .intro-text {
    font-size: 50rem;
  }
  #local .local-info .intro-display .intro-item .img-wrap {
    height: 50rem;
  }
  #local .local-info .intro-info {
    margin-top: 80rem;
    flex-direction: column;
    row-gap: 30rem;
  }
  #local .local-info .intro-info .scroll-area {
    order: 3;
  }
  #content {
    padding: 0;
  }
  #content .content-wrap .content-body .section.web-publishing {
    padding: 90rem 0;
  }
  #content .content-wrap .content-body .section.design {
    padding: 90rem 0;
  }
  #page-foot {
    padding: 0;
  }
  #page-foot .footer-wrap .footer-body {
    gap: 10rem;
  }
  #page-foot .footer-wrap .footer-body .footer-column .site-usage .para {
    font-size: 14rem;
    line-height: 24rem;
  }
  #page-foot .footer-wrap .footer-body .footer-column .copyright .para {
    font-size: 12rem;
    line-height: 24rem;
  }
  #page-foot .footer-wrap .footer-body .footer-column .privacy {
    font-size: 12rem;
  }
}