@mixin hidden {
    font-size: 0px;
    line-height: 0px;
    width: 1px;
    height: 1px;
    position: absolute;
    visibility: hidden;
}

@keyframes header-scroll {
    from{
        transform: translateY(0px);
        opacity: 1;
    }
    to{
        transform: translateY(30px);
        opacity: 0;
    }
}

@keyframes header-background {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes arrow-right {
    0%{
        transform: translatex(0px);
    }
    50%{
        transform: translatex(6px);
    }
    100%{
        transform: translatex(0px);
    }
}

$main-color: #EE242E;
$sub-color: #ecec23;

button {
    border: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color: white;
}

mark {
    background-color: rgba(255, 255, 52, 0.8);
}

// .highlight {
//     background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 45%, $main-color 45%, $main-color 100%); /* FF3.6-15 */
//     background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 45%,$main-color 45%,$main-color 100%); /* Chrome10-25,Safari5.1-6 */
//     background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 45%,$main-color 45%,$main-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffff00',GradientType=0 ); /* IE6-9 */
// }


@keyframes image-zoom-out {
	from {
		transform: scale(1.2,1.2)
	}
	to {
		transform: scale(1.0,1.0)
	}
}

@keyframes rotate-img  {
    0% {
        transform: rotate(0deg);
    }

	100% {
        transform: rotate(-360deg);
    }
}

@keyframes up-down-left  {
    0% {
        transform: translateY(-20rem);
    }

    50% {
        transform: translateY(20rem);
    }

	100% {
        transform: translateY(-20rem);
    }
}

/* 스크롤매직 */
.back-to-position {
    opacity: 0;
    transition: 1s;
  }
  
  .back-to-position.to-right {
    transform: translateX(-100px);
  }
  .back-to-position.to-right_2 {
    transform: translateX(-200px);
  }
  
  .back-to-position.to-left {
    transform: translateX(100px);
  }
  .back-to-position.to-left_2 {
    transform: translateX(200px);
  }
  .back-to-position.to-top {
    transform: translateY(-100px);
  }
  .back-to-position.to-top_2 {
    transform: translateY(-50px);
  }
  .back-to-position.to-bottom {
    transform: translateY(100px);
  }
  
  .show .back-to-position {
    opacity: 1;
    transform: translateX(0);
  }
  
  .show .back-to-position.delay-0 {
    transition-delay: 1s;
  }
  
  .show .back-to-position.delay-1 {
    transition-delay: 2s;
  }