@mixin hidden {
    font-size: 0px;
    line-height: 0px;
    width: 1px;
    height: 1px;
    position: absolute;
    visibility: hidden;
}

@keyframes header-scroll {
    from{
        transform: translateY(0px);
        opacity: 1;
    }
    to{
        transform: translateY(30px);
        opacity: 0;
    }
}

@keyframes header-background {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes arrow-right {
    0%{
        transform: translatex(0px);
    }
    50%{
        transform: translatex(6px);
    }
    100%{
        transform: translatex(0px);
    }
}

$main-color: #EE242E;
$sub-color: #ecec23;

.highlight {
    background-color: rgba(255, 255, 52, 0.8);
    // background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 45%, #ffff00 45%, #ffff00 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 45%,#ffff00 45%,#ffff00 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 45%,#ffff00 45%,#ffff00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffff00',GradientType=0 ); /* IE6-9 */
}


@keyframes image-zoom-out {
	from {
		transform: scale(1.2,1.2)
	}
	to {
		transform: scale(1.0,1.0)
	}
}

@keyframes rotate-img  {
    0% {
        transform: rotate(0deg);
    }

	100% {
        transform: rotate(-360deg);
    }
}
