@import "./variable";

#wrap {
    position: relative;
    overflow-x: hidden;

    #page {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: 100%;

        .page-head {
            @include hidden;
        }
    }
}

#local{
    .local-head {
        @include hidden;
    }

    .local-info {
        padding: 120rem 90rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .intro-display {
            display: flex;
            flex-direction: column;

            .intro-item {
                display: flex;
                align-items: center;
                gap: 40rem;

                .intro-text {
                    font-family: "Suez One";
                    text-transform: capitalize;
                    font-size: 144rem;
                }

                .img-wrap {
                    width: 100%;
                    height: 140rem;
                    display: block;
                    overflow: hidden;

                    .intro-img {
                        height: 100%;
                        display: block;
                        background: url(../img/bg_header.jpg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        background-attachment: fixed;

                    }
                }
            }
        }

        .intro-info {
            margin-top: 100rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .section.ability {
                .section-wrap {
                    .section-head {
                        @include hidden;
                    }

                    .section-body {
                        display: flex;
                        gap: 8rem;

                        .ability-name {
                            display: flex;
                            gap: 8rem;
                            text-transform: capitalize;
                            font-family: 'noto sans';
                            color: rgb(53, 53, 53);

                                &:last-child {
                                    &::before {
                                    content: '/';
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }

            .scroll-area {
                .scroll-icon {
                    .arrow-down {
                        font-size: 20rem;
                        color: rgb(53, 53, 53);
                        animation: header-scroll 1.6s infinite;
                    }
                }
            }

            .section.sns {
                .section-wrap {
                    .section-head {
                        @include hidden;
                    }

                    .section-body {
                        .sns-list {
                            display: flex;
                            align-items: center;
                            gap: 28rem;

                            .sns-item {
                                .sns-icon {
                                    width: 28rem;
                                    height: 28rem;

                                    &.blog {
                                        background-image: url(../svg/sns_blog.svg);
                                    }

                                    &.infl {
                                        background-image: url(../svg/sns_infl.svg);
                                    }

                                    &.kakao {
                                        background-image: url(../svg/sns_kakao.svg);
                                    }

                                    &.insta {
                                        background-image: url(../svg/sns_insta.svg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#content {
    padding: 0 320rem;
    box-sizing: border-box;

    .content-wrap {
        .content-head {
            @include hidden;
        }

        .content-body {
            .section-wrap {
                padding: 100rem 0;
                .section-head {
                    .section-subject {
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 48rem;
                        color: #4d4d4d;
                        font-weight: normal;
                    }

                    .section-summary {
                        margin-top: 14rem;
                        font-weight: 400;
                        line-height: 26rem;
                        color: #646464;
                    }
                }
            }

            .display-board {
                margin-top: 30rem;
                height: 300rem;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100vw;
                    height: 100%;
                    left: calc(50% - 50vw);
                    z-index: -10;
                    background-image: url(/img/banner.jpg);
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-size: cover;
                }

                .board-body {
                    text-align: right;

                    .board-text {
                        color: white;
                        font-size: 24rem;
                        line-height: 38rem;

                        .highlight {
                            background-color: rgb(230, 223, 89);
                        }
                    }
                }
            }

            .section.intro {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
            }

            .section.web-port {
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100vw;
                    left: calc(50% - 50vw);
                    top: 0;
                    bottom: 0;
                    z-index: -1;
                    // background-color: rgb(242, 242, 242);
                }
                
                .section-body {
                    // swiper.js
                    .swiper {
                        width: 100%;
                        height: 420rem;
                        display: flex;
                        position: relative;
                        top: -50rem;
                        
                        .swiper-wrapper {
                            order: 2;
                            align-items: flex-end !important;

                            .swiper-slide {
                                height: auto;
                                // background-color: red;
                                
                                .posts-display {
                                    .posts-list {
                                        .posts-item {
                                            .posts-figure {
                                                // width: 380rem;
                                                height: 256rem;
                                                border-radius: 10rem;
                                                overflow: hidden;
                                                background-color: white;
                                                
                                                .posts-thumnail {
                                                    .posts-image {
                                                        display: block;
                                                        width: 100%;
                                                        transition: 0.2s ease-out;

                                                        &:hover {
                                                            transform: scale(1.03);
                                                        }
                                                    }
                                                }
                                            }
                                            .posts-wrap {
                                                text-align: right;
                                                margin-top: 14rem;

                                                .posts-head {
                                                    .posts-subject {
                                                        font-size: 18rem;
                                                        color: #2f2f2f;
                                                        font-weight: 500;   
                                                        line-height: 28rem;
                                                    }
                                                }
                                                .posts-body {
                                                    .posts-data {
                                                        .posts-list {
                                                            .posts-item.date {
                                                                .head {
                                                                    @include hidden;
                                                                }
                                                                .body {
                                                                    font-size: 14rem;
                                                                    font-weight: 200;
                                                                    line-height: 24rem;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .swiper-button-next,
                        .swiper-button-prev {
                            order: 1;
                            margin: 0;
                            width: 44rem;
                            height: 44rem;
                            top: 0 !important;
                            border: 1px solid #646464;
                            border-radius: 50%;
                            
                            &::after {
                                font-size: 16rem !important;
                                position: relative;
                                color: #646464;
                            }
                        }

                        .swiper-button-next {
                            right: 0;
                            &::after {
                                right: -1rem;
                            }
                        }
                        .swiper-button-prev {
                            left: auto;
                            right: 64rem;
                            &::after {
                                left: -1rem;
                            }
                        }
                    }
                }
            }

            .section.skills {
                .section-wrap {
                    .section-head {
                        @include hidden;
                    }
                    .section-body {
                        display: flex;
                        flex-direction: column;
                        row-gap: 40rem;

                        .swiper.skillSwiper,
                        .swiper.toolSwiper {
                            width: 100vw;
                            position: relative;
                            left: calc(50% - 50vw);

                            .swiper-wrapper {
                                .swiper-slide {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 16rem;
                                    overflow: hidden;

                                    .posts-display {
                                        width: 220rem;
                                        height: 220rem;
                                        position: relative;

                                        .posts-item {
                                            padding: 30rem;
                                            color: white;
                                            display: flex;
                                            flex-direction: column;

                                            &::before {
                                                content: '';
                                                display: block;
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                right: 0;
                                                bottom: 0;
                                                width: 220rem;
                                                height: 220rem;
                                                z-index: 1;
                                            }

                                            &:hover::before {
                                                z-index: -1;
                                            }

                                            &.gulp::before {
                                                background: url(/img/gulp.png);
                                                background-size: cover;
                                            }
                                            &.html::before {
                                                background: url(/img/html.png);
                                                background-size: cover;
                                            }
                                            &.css::before {
                                                background: url(/img/css.png);
                                                background-size: cover;
                                            }
                                            &.js::before {
                                                background: url(/img/js.png);
                                                background-size: cover;
                                            }
                                            &.node::before {
                                                background: url(/img/node.png);
                                                background-size: cover;
                                            }
                                            &.npm::before {
                                                background: url(/img/npm.png);
                                                background-size: cover;
                                            }
                                            &.git::before {
                                                background: url(/img/git.png);
                                                background-size: cover;
                                            }
                                            &.scss::before {
                                                background: url(/img/sass.png);
                                                background-size: cover;
                                            }

                                            // tools
                                            &.ps::before {
                                                background: url(/img/ps.png);
                                                background-size: cover;
                                            }
                                            &.ai::before {
                                                background: url(/img/ai.png);
                                                background-size: cover;
                                            }
                                            &.xd::before {
                                                background: url(/img/xd.png);
                                                background-size: cover;
                                            }
                                            &.vscode::before {
                                                background: url(/img/vscode.png);
                                                background-size: cover;
                                            }
                                            &.figma::before {
                                                background: url(/img/figma.png);
                                                background-size: cover;
                                            }
                                            &.excel::before {
                                                background: url(/img/excel.png);
                                                background-size: cover;
                                            }
                                            &.ppt::before {
                                                background: url(/img/ppt.png);
                                                background-size: cover;
                                            }
                                            &.github::before {
                                                background: url(/img/github.png);
                                                background-size: cover;
                                            }

                                            .posts-list {
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                gap: 8rem;
                                                
                                                &::before {
                                                    content: '';
                                                    display: block;
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    right: 0;
                                                    bottom: 0;
                                                    background-color: rgba(#000000, 0.6);
                                                    z-index: -1;
                                                }
                                                
                                                .posts-head {
                                                    .posts-subject {
                                                        font-size: 20rem;
                                                        font-weight: bold;
                                                    }
                                                }
                                                .posts-body {
                                                    line-height: 24rem;
                                                }
                                            }
                                            
                                            .button-display {
                                                margin-top: 54rem;
                                                .button-area {
                                                    .btn.more-view {
                                                        font-weight: 300;
                                                        font-size: 14rem;
                                                        letter-spacing: 0.5rem;
                                                        display: flex;
                                                        align-items: center;
                                                        gap: 2rem;

                                                        &::after {
                                                            content: '';
                                                            display: block;
                                                            width: 22rem;
                                                            height: 22rem;
                                                            background-image: url(/svg/arrow-right.svg);
                                                            background-size: cover;
                                                        }
                                                        
                                                        &:hover::after {
                                                                animation: arrow-right 1s infinite;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


#footer {
    padding: 50rem 0;
    box-shadow: 0rem 0rem 2rem #aaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 14rem;

    .section {
        .section-wrap {
            .section-head {
                @include hidden;
            }
            .section-body {
                display: flex;
                flex-direction: column;
                gap: 8rem;
                color: #292929;

                .para {
                    font-size: 16rem;
                    line-height: 26rem;
                    font-weight: 500;

                    .highlight {
                        background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 45%, #ffff00 45%, #ffff00 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 45%,#ffff00 45%,#ffff00 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 45%,#ffff00 45%,#ffff00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffff00',GradientType=0 ); /* IE6-9 */

                    }
                }
                .data-list {
                    display: flex;
                    gap: 10rem;

                    .data-item {
                        display: flex;
                        align-items: center;
                        gap: 10rem;
                        font-size: 15rem;

                        &:nth-child(2) {
                            &::before,
                            &::after {
                                content: '';
                                display: block;
                                width: 1rem;
                                height: 80%;
                                background-color: #aaa;
                            }
                        }
                    }
                }

                .copyright {
                    font-size: 14rem;
                }
            }
        }
    }
}

// media query = 1440px
@media (max-width:1440px) {
    #local {
        .local-info {
            .intro-info {
                .section.ability {
                    .section-wrap {
                        .section-body {
                            .ability-name {
                                font-size: 14rem;
                            }
                        }
                    }
                }
                .section.sns {
                    .section-wrap {
                        .section-body {
                            .sns-list {
                                .sns-item {
                                    .sns-icon {
                                        width: 26rem;
                                        height: 26rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .intro-display {
                .intro-item {
                    gap: 20rem;

                    .intro-text {
                        font-size: 100rem;

                    }
                    .img-wrap {
                        height: 100rem;

                    }
                }
            }
        }
    }

    #content {
        padding: 0 140rem;
        .content-wrap {
            .content-body {
                .section.web-publishing {
                    .section-wrap {
                        .section-body {
                            .posts-display {
                                .posts-list {
                                    justify-content: center;
                                    row-gap: 50rem;
                                    column-gap: 40rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



// media query = 768px
@media (max-width:768px) {
    #local {
        .local-info {
            height: auto;
            padding: 80rem 20rem;

            .intro-display {
                .intro-item {
                    gap: 10rem;

                    .intro-text {
                        font-size: 50rem;

                    }
                    .img-wrap {
                        height: 50rem;

                    }
                }
            }

            .intro-info {
                margin-top: 80rem;
                flex-direction: column;
                row-gap: 30rem;

                .scroll-area {
                    order: 3;
                }
            }   
        }
    }

    #content {
        padding: 0;

        .content-wrap {
            .content-body {
                .section.web-publishing {
                    padding: 90rem 0;

                }
                .section.design {
                    padding: 90rem 0;

                }
            }
        }
    }
}