@import "./variable";

#wrap {
    position: relative;
    overflow-x: hidden;

    #page {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: 100%;

        .page-head {
            width: 100%;
            padding: 0 120rem;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            z-index: 30;
            
            .page-subject {
                width: 170rem;
                height: 46rem;
                margin-top: 6rem;

                .page-logo {
                    height: 100%;
                    background-image: url(../img/logo_white.png);
                    background-size: 100%;
                    background-repeat: no-repeat;
                }

                .page-name {
                    @include hidden;
                }
            }

            .page-navi {
                width: 480rem;
                .section-wrap {
                    .section-head {
                        @include hidden;
                    }

                    .section-body {
                        .gnb-list {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .gnb-item {
                                padding: 36rem 0;
                                position: relative;

                                &::before {
                                    content: '';
                                    display: block;
                                    width: 8rem;
                                    height: 8rem;
                                    position: absolute;
                                    top: 44rem;
                                    left: 50%;
                                    border-radius: 50%;
                                    background-color: $main-color;
                                    z-index: -1;
                                    opacity: 0;
                                    transition: all 0.3s;
                                }

                                &:hover::before {
                                    opacity: 1;
                                    top: 28rem;
                                    left: 94%;
                                    width: 8rem;
                                    height: 8rem;
                                }

                                button {
                                    &::before {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#local{
    .local-head {
        @include hidden;
    }
}

#content {
    .content-wrap {
        .content-head {
            @include hidden;
        }

        .content-body {
            .section-wrap {
                padding: 160rem 0;
                .section-head {
                    .section-subject {
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 44rem;
                        color: #4d4d4d;
                        font-weight: normal;
                    }

                    .section-summary {
                        margin-top: 14rem;
                        font-weight: 400;
                        line-height: 26rem;
                        color: #646464;
                    }
                }
            }
        }
    }
}

.display-board.main {
    padding: 0 200rem;
    position: relative;
    height: 1000rem;
    overflow: hidden;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100vw;
        left: calc(50vw - 50%);
        height: 100%;
        background-image: url(../img/Background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: image-zoom-out 8s forwards;
        z-index: -100;
    }
    .board-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 240rem;
        padding-top: 130rem;

        .board-head {
            display: flex;
            flex-direction: column;
            color: white;

            .board-subject {
                order: 2;
                font-size: 68rem;
                font-weight: bold;
            }

            .board-creed {
                order: 1;
                font-size: 18rem;
                margin-bottom: 10rem;
                font-weight: 300;
            }
        }
    }

    .board-body {
        .intro-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .section.ability {
                display: flex;
                .section-wrap {
                    .section-head {
                        @include hidden;
                    }

                    .section-body {
                        display: flex;
                        gap: 8rem;

                        .ability-name {
                            display: flex;
                            gap: 8rem;
                            text-transform: capitalize;
                            font-family: 'noto sans';
                            color: white;

                                &:last-child {
                                    &::before {
                                    content: '/';
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }

            .scroll-area {
                .scroll-icon {
                    .arrow-down {
                        font-size: 18rem;
                        color: white;
                        animation: header-scroll 1.6s infinite;
                    }
                }
            }

            .section.sns {
                .section-wrap {
                    .section-head {
                        @include hidden;
                    }

                    .section-body {
                        .sns-list {
                            display: flex;
                            align-items: center;
                            gap: 28rem;

                            .sns-item {
                                .sns-icon {
                                    width: 28rem;
                                    height: 28rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.section.intro {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 200rem;
    position: relative;

    .subsection.ability {
        &:last-child {
            margin-top: 100rem;
        }
        
        .subsection-wrap {
            display: flex;

            .subsection-head {
                flex: 1 1 30%;
                
                .subsection-subject {
                    font-size: 26rem;
                    font-family: 'Times New Roman', Times, serif;
                    color: #4d4d4d;

                    .subsection-name {
                        display: flex;
                        gap: 2rem;
                        
                        &::before {
                            content: '*';
                            display: block;
                            color: $main-color;
                            
                        }
                    }
                }
            }

            .subsection-body {
                flex: 1 1 100%;
                
                table {
                    width: 100%;
                    text-align: center;
                    border-top: 2rem solid rgb(90, 90, 90);
                    border-right: hidden;
                    border-left: hidden;
                    border-collapse: collapse;
                    border-spacing: 0;

                    caption {
                        @include hidden;
                    }

                    th {
                        color: #191d26;
                        padding: 16rem 0;
                        background-color: rgb(247, 247, 247);
                        border-bottom: 1rem solid rgb(216, 219, 225);
                        border-right: 1rem solid rgb(216, 219, 225);
                        border-left: 1rem solid rgb(216, 219, 225);
                    }
                    td {
                        color: #373b44;
                        padding: 14rem 0;
                        border-bottom: 1rem solid rgb(216, 219, 225);
                        border-right: 1rem solid rgb(216, 219, 225);
                        border-left: 1rem solid rgb(216, 219, 225);
                    }
                    
                }
            }
        }
    }
}

.display-board.welcome {
    padding: 0 280rem;
    height: 300rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100vw;
        height: 100%;
        left: calc(50% - 50vw);
        z-index: -10;
        background-image: url(../img/banner.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .board-body {
        text-align: right;

        .board-text {
            color: white;
            font-size: 26rem;
            line-height: 40rem;
        }
    }
}

.section.web-port {
    position: relative;
    padding: 0 280rem;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100vw;
        left: calc(50% - 50vw);
        top: 0;
        bottom: 0;
        z-index: -1;
        background: rgb(247,247,247); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(247,247,247,1) 90%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 90%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(247,247,247,1) 90%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        
    }

    .section-body {
        position: relative;

        // swiper.js
        .posts-display {
            margin-top: 60rem;

            .posts-list {
                .posts-item {
                    .posts-figure {
                        .posts-thumnail {
                            overflow: hidden;
                            border-radius: 8rem;
                            border: 1rem solid #eee;
                            .posts-image {
                                display: block;
                                width: 100%;
                                transition: all 0.3s ease;
                                border-radius: 8rem;
                                
                                &:hover {
                                    transform: scale(1.02);
                                }
                            }
                        }
                    }
                    .posts-inform {
                        text-align: right;
                        margin-top: 14rem;
                        display: flex;
                        flex-direction: column;
                        row-gap: 6rem;

                        .posts-head {
                            .posts-subject {
                                font-size: 18rem;
                                line-height: 24rem;
                                font-weight: 500;
                                color: #313131;
                            }
                        }
                        .posts-body {
                            .data-list {
                                font-size: 14rem;
                                font-weight: 300;
                                .data-head {
                                    @include hidden;
                                }
                            }
                        }
                    }
                }
            }
        }

        .button-display {
            position: absolute;
            top: -110rem;
            right: 0;

            .button-area {
                .swiper-button-next,
                .swiper-button-prev {
                    margin: 0;
                    width: 42rem;
                    height: 42rem;
                    top: 0rem !important;
                    border: 1px solid #646464;
                    border-radius: 50%;
                    
                    &::after {
                        font-size: 13rem !important;
                        position: relative;
                        color: #646464;
                    }
                }

                .swiper-button-next {
                    right: 0;
                    &::after {
                        right: -1rem;
                    }
                }
                .swiper-button-prev {
                    left: auto;
                    right: 62rem;
                    &::after {
                        left: -1rem;
                    }
                }
            }
        }
    }
}

.section.design {
    padding: 0 280rem;

    .section-wrap {
        .section-head {
            position: relative;
            overflow: visible;
            background-color: white;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: -98rem;
                left: -108rem;
                z-index: -1;
                width: 230rem;
                height: 230rem;
                background-image: url(../img/round.png);
                background-repeat: no-repeat;
                background-size: cover;
                animation: rotate-img 8s linear infinite;
            }
        }
        .section-body {
            width: 100vw;
            height: auto;
            margin-top: 60rem;
            .posts-display {
                .posts-list {
                    .posts-item {
                        overflow: hidden;
                        .posts-wrap {
                            .posts-figure {
                                .posts-thumnail {
                                    img {
                                        display: block;
                                        width: 100%;
                                        transition: all 0.3s ease;
                                        &:hover {
                                            transform: scale(1.03);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// .subsection.profile {
//     margin: 160rem 0 180rem 0;
//     .subsection-wrap {
//         .subsection-head {
//             @include hidden;
//         }
//         .subsection-body {
//             height: auto;
//             box-sizing: border-box;
//             position: relative;
//             display: flex;
//             align-items: center;
//             // background-color: teal;

//             .intro-visual {
//                 flex: 1 1 100%;
//                 position: relative;
//                 transform: scale(2);
//                 left: -12%;
//                 img {
//                     width: 100%;
//                 }
//             }

//             .intro-display {
//                 flex: 1 1 100%;
//                 padding-left: 240rem;
//                 // background-color: tomato;
//                 .intro-wrap {
//                     display: flex;
//                     flex-direction: column;
//                     row-gap: 26rem;
//                     color: #191919;

//                     .intro-head {
//                         font-size: 46rem;
//                         line-height: 60rem;
//                         color: #363636;
//                     }
//                     .intro-body {
//                         font-size: 19rem;
//                         line-height: 30rem;
//                     }
//                 }
//                 .button-display {
//                     margin-top: 80rem;

//                     .button-area {
//                         display: flex;
//                         column-gap: 16rem;
                        
//                         .btn.style-a {
//                             padding: 12rem 18rem 12rem 24rem;
//                             box-sizing: border-box;
//                             border: 1rem solid $main-color;
//                             border-radius: 10rem;
//                             column-gap: 10rem;
//                             display: flex;
//                             align-items: center;
//                             background-color: transparent;
//                             color: $main-color !important;
//                             transition: all 0.3s ease;

//                             &.products {
//                                 &::after {
//                                     content: '';
//                                     display: block;
//                                     width: 24rem;
//                                     height: 24rem;
//                                     background-image: url(../svg/Chevron-Right.svg);
//                                     background-repeat: no-repeat;
//                                 }
//                             }

//                             &.call {
//                                 &::after {
//                                     content: '';
//                                     display: block;
//                                     width: 24rem;
//                                     height: 24rem;
//                                     background-image: url(../svg/call.svg);
//                                     background-repeat: no-repeat;
//                                 }
//                             }

//                             &:hover {
//                                 box-shadow:
//                                 -5px -5px 16px 0px #fff9,
//                                 -4px -4px 5px 0px #fff9,
//                                 5px 5px 16px 0px #0002,
//                                 4px 4px 5px 0px #0001;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.subsection.skills {
    padding: 140rem 0;
    box-sizing: border-box;

    .subsection-wrap {
        .subsection-head {
            @include hidden;

            .subsection-subject {
                font-size: 26rem;
                font-family: 'Times New Roman', Times, serif;
                color: #4d4d4d;

                .subsection-name {
                    display: flex;
                    gap: 2rem;
                    
                    &::before {
                        content: '*';
                        display: block;
                        color: $main-color;
                    }
                }
            }
        }
        .subsection-body {
            display: flex;
            flex-direction: column;
            row-gap: 36rem;

            .posts-display {
                width: 2000rem;
                left: 50%;
                margin-left: -1000rem;

                .posts-list {
                    padding: 10rem;
                    box-sizing: border-box;
                    transition-timing-function: linear;

                    .posts-item {
                        .posts-wrap {
                            width: 200rem;
                            height: 200rem;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                            border-radius: 16rem;
                            box-shadow: 0rem 0rem 10rem 1rem rgb(240, 240, 240);

                            .posts-head {
                                visibility: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
}

#footer {
    padding: 60rem 320rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 29, 38);

    .section-container {
        width: 100%;
        display: flex;

        &:first-child {
            padding-bottom: 20rem;
            box-sizing: border-box;
            border-bottom: 1rem solid #373b44;
            display: flex;
            align-items: center;

            &::after {
                content: '';
                display: block;
                width: 180rem;
                height: 40rem;
                background-image: url(../img/logo_gray.png);
                background-size: 100%;
                background-repeat: no-repeat;
            }
        }

        &:last-child {
            margin-top: 22rem;
        }

        .section {
            width: 100%;
            display: flex;

            &:not(.family-site) {
                .section-wrap {
                    .section-head {
                        @include hidden;
                    }
                }
            }

            &.notice {
                .section-body {
                    color: #999da8;
                    .para {
                        line-height: 26rem;
                        font-weight: 400;
                    }
                }
            }

            &.personal-info {
                .section-body {
                    display: flex;
                    flex-direction: column;
                    font-size: 13rem;
                    gap: 10rem;
                    color: #999da8;

                    .data-list {
                        display: flex;
                        .data-item {
                            &:nth-child(2) {
                                display: flex;
                                &::before,
                                &::after {
                                    content: "|";
                                    display: block;
                                    margin: 0rem 10rem;
                                }
                            }
                        }
                    }
                }
            }
            &.family-site {
                width: 250rem;

                .section-wrap {
                    width: 100%;
                    position: relative;
                    
                    &:not(:focus-within) {
                        .section-body {
                            display: none;
                        }
                    }

                    .section-head {
                        .section-subject {
                            .section-name {
                                width: 100%;
                                height: 42rem;
                                padding: 0 12rem 0 16rem;
                                box-sizing: border-box;
                                line-height: 24rem;
                                font-weight: 500;
                                font-size: 14rem;
                                border: 1rem solid rgb(105, 109, 118);
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border-radius: 4rem;
                                color: #afb2bb;

                                &::after {
                                    content: '';
                                    display: block;
                                    width: 34rem;
                                    height: 34rem;
                                    background-image: url(../svg/Chevron-Up-Small.svg);
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                }
                            }
                        }
                    }

                    .section-body {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: calc(100% + 4rem);
                        padding: 16rem 0;
                        border-radius: 4rem;
                        background-color: rgb(25, 29, 38);
                        border: 1rem solid rgb(105, 109, 118);
                        color: #afb2bb;
                        
                        .navi-list {
                            display: flex;
                            flex-direction: column;
                            font-size: 14rem;
                            font-weight: 500;

                            .navi-item {
                                padding: 12rem 14rem;

                                &:hover {
                                    color: white;
                                    background-color: rgb(55, 59, 68);;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .display-board.main {
        padding: 0 120rem;
    }
}

@media (max-width: 1440px) {
    .section.web-port {
        padding: 0 120rem;
    }
}

@media (max-width: 1440px) {
    .section.design {
        padding: 0 120rem;
    }
}

@media (max-width: 1240px) {
    .display-board.main {
        .scroll-area {
            display: none;
        }
    }
}

@media (max-width: 1640px) {
    .section.intro {
        padding: 0 120rem;
    }
}

@media (max-width: 1240px) {
    .section.intro {
        .subsection-wrap {
            flex-direction: column;
            row-gap: 20rem;
        }
    }
}

@media (max-width: 1440px) {
    #footer {
        padding: 60rem 120rem;
    }
}

@media (max-width: 1440px) {
    .display-board.welcome {
        padding: 0 120rem;
    }
}

