@import "./variable";

#wrap {
    position: relative;
    overflow-x: hidden;

    #page {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: 100%;

        .page-head {
            width: 100%;
            padding: 0 120rem;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1rem solid rgb(222, 222, 222);
            background-color: white;
            position: fixed;
            z-index: 30;
            
            &:hover {
                box-shadow: 0 0 10rem #aaa;
            }
            .page-subject {
                width: 170rem;
                height: 40rem;

                .page-name {
                    display: inline-block;

                    img {
                        width: 100%;
                    }
                }
            }

            .page-navi {
                width: 480rem;
                .section-wrap {
                    .section-head {
                        @include hidden;
                    }

                    .section-body {
                        .gnb-list {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .gnb-item {
                                padding: 30rem 0;
                                position: relative;

                                &::before {
                                    content: '';
                                    display: block;
                                    width: 8rem;
                                    height: 8rem;
                                    position: absolute;
                                    top: 30rem;
                                    left: 60%;
                                    border-radius: 50%;
                                    background-color: #EE242E;
                                    z-index: -1;
                                    opacity: 0;
                                    transition: all 0.3s;
                                }

                                &:hover::before {
                                    opacity: 1;
                                    top: 22rem;
                                    left: 94%;
                                    width: 8rem;
                                    height: 8rem;
                                }

                                button {
                                    border: none;
                                    background-color: transparent;
                                    font-size: inherit;
                                    font-family: inherit;
                                    cursor: pointer;

                                    &::before {
                                        content: '';
                                        display: block;
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#local{
    .local-head {
        @include hidden;
    }
}

#content {
    // padding: 0 320rem;
    box-sizing: border-box;

    .content-wrap {
        .content-head {
            @include hidden;
        }

        .content-body {
            padding-top: 180rem;
            box-sizing: border-box;

            .display-board.main {
                padding: 0 120rem;
                .board-wrap {
                    .board-head {
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        top: 30rem;

                        .board-subject {
                            order: 2;
                            font-size: 48rem;
                            font-weight: bold;

                        }
                        .board-summary {
                            order: 1;
                            font-size: 16rem;
                            margin-bottom: 10rem;

                        }
                    }
                }
                .board-body {
                    

                    .visual-wrap {
                        width: 100%;
                        height: 320rem;
                        border-radius: 0 60rem 0 60rem;
                        overflow: hidden;

                        video {
                            width: 100%;
                            position: relative;
                            bottom: 240rem;
                            z-index: -10;
                        }
                    }

                    .intro-info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .section.ability {
                            display: flex;
                            .section-wrap {
                                .section-head {
                                    @include hidden;
                                }

                                .section-body {
                                    display: flex;
                                    gap: 8rem;

                                    .ability-name {
                                        display: flex;
                                        gap: 8rem;
                                        text-transform: capitalize;
                                        font-family: 'noto sans';
                                        color: rgb(53, 53, 53);

                                            &:last-child {
                                                &::before {
                                                content: '/';
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .scroll-area {
                            .scroll-icon {
                                .arrow-down {
                                    font-size: 20rem;
                                    color: rgb(53, 53, 53);
                                    animation: header-scroll 1.6s infinite;
                                }
                            }
                        }

                        .section.sns {
                            .section-wrap {
                                .section-head {
                                    @include hidden;
                                }

                                .section-body {
                                    .sns-list {
                                        display: flex;
                                        align-items: center;
                                        gap: 28rem;

                                        .sns-item {
                                            .sns-icon {
                                                width: 28rem;
                                                height: 28rem;

                                                &.blog {
                                                    background-image: url(../svg/sns_blog.svg);
                                                }

                                                &.infl {
                                                    background-image: url(../svg/sns_infl.svg);
                                                }

                                                &.kakao {
                                                    background-image: url(../svg/sns_kakao.svg);
                                                }

                                                &.insta {
                                                    background-image: url(../svg/sns_insta.svg);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .section-wrap {
                padding: 100rem 0;
                .section-head {
                    .section-subject {
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 44rem;
                        color: #4d4d4d;
                        font-weight: normal;
                    }

                    .section-summary {
                        margin-top: 14rem;
                        font-weight: 400;
                        line-height: 26rem;
                        color: #646464;
                    }
                }
            }

            .display-board.welcome {
                padding: 0 320rem;
                margin: 100rem 0;
                height: 300rem;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100vw;
                    height: 100%;
                    left: calc(50% - 50vw);
                    z-index: -10;
                    background-image: url(../img/banner.jpg);
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-size: cover;
                }

                .board-body {
                    text-align: right;

                    .board-text {
                        color: white;
                        font-size: 24rem;
                        line-height: 38rem;
                    }
                }
            }

            .section.intro {
                min-height: 100vh;
                display: flex;
                flex-direction: column;
                padding: 0 320rem;

                .subsection.ability {
                    margin-top: 100rem;
                    .subsection-wrap {
                        display: flex;

                        .subsection-head {
                            flex: 1 1 40%;
                            font-size: 32rem;
                            font-family: 'Times New Roman', Times, serif;
                            color: #4d4d4d;
                        }

                        .subsection-body {
                            flex: 1 1 100%;
                            
                            table {
                                width: 100%;
                                text-align: center;
                                border-top: 2rem solid rgb(90, 90, 90);
                                border-right: hidden;
                                border-left: hidden;
                                border-collapse: collapse;
                                border-spacing: 0;

                                caption {
                                    @include hidden;
                                }

                                th {
                                    color: #191d26;
                                    padding: 16rem 0;
                                    background-color: rgb(247, 247, 247);
                                    border-bottom: 1rem solid rgb(216, 219, 225);
                                    border-right: 1rem solid rgb(216, 219, 225);
                                    border-left: 1rem solid rgb(216, 219, 225);
                                }
                                td {
                                    color: #373b44;
                                    padding: 14rem 0;
                                    border-bottom: 1rem solid rgb(216, 219, 225);
                                    border-right: 1rem solid rgb(216, 219, 225);
                                    border-left: 1rem solid rgb(216, 219, 225);
                                }
                                
                            }
                        }
                    }
                }
            }

            .section.skills {
                padding: 150rem 0 50rem 0;
                .section-wrap {
                    .section-head {
                        @include hidden;
                    }
                    .section-body {
                        display: flex;
                        flex-direction: column;
                        row-gap: 40rem;

                        .swiper.skillSwiper,
                        .swiper.toolSwiper {
                            // transform: rotate(10deg);
                            width: 120vw;
                            position: relative;
                            left: calc(50% - 60vw);

                            .swiper-wrapper {
                                .swiper-slide {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    overflow: hidden;
                                    border-radius: 20rem;

                                    .posts-display {
                                        width: 220rem;
                                        height: 220rem;
                                        position: relative;

                                        .posts-item {
                                            padding: 30rem;
                                            color: white;
                                            display: flex;
                                            flex-direction: column;

                                            &::before {
                                                content: '';
                                                display: block;
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                right: 0;
                                                bottom: 0;
                                                width: 220rem;
                                                height: 220rem;
                                                z-index: 1;
                                                border-radius: 20rem;
                                            }

                                            &:hover::before {
                                                z-index: -1;
                                            }

                                            &.gulp::before {
                                                background: url(/img/gulp.png);
                                                background-size: cover;
                                            }
                                            &.html::before {
                                                background: url(/img/html.png);
                                                background-size: cover;
                                            }
                                            &.css::before {
                                                background: url(/img/css.png);
                                                background-size: cover;
                                            }
                                            &.js::before {
                                                background: url(/img/js.png);
                                                background-size: cover;
                                            }
                                            &.node::before {
                                                background: url(/img/node.png);
                                                background-size: cover;
                                            }
                                            &.npm::before {
                                                background: url(/img/npm.png);
                                                background-size: cover;
                                            }
                                            &.git::before {
                                                background: url(/img/git.png);
                                                background-size: cover;
                                            }
                                            &.scss::before {
                                                background: url(/img/sass.png);
                                                background-size: cover;
                                            }

                                            // tools
                                            &.ps::before {
                                                background: url(/img/ps.png);
                                                background-size: cover;
                                            }
                                            &.ai::before {
                                                background: url(/img/ai.png);
                                                background-size: cover;
                                            }
                                            &.xd::before {
                                                background: url(/img/xd.png);
                                                background-size: cover;
                                            }
                                            &.vscode::before {
                                                background: url(/img/vscode.png);
                                                background-size: cover;
                                            }
                                            &.figma::before {
                                                background: url(/img/figma.png);
                                                background-size: cover;
                                            }
                                            &.excel::before {
                                                background: url(/img/excel.png);
                                                background-size: cover;
                                            }
                                            &.ppt::before {
                                                background: url(/img/ppt.png);
                                                background-size: cover;
                                            }
                                            &.github::before {
                                                background: url(/img/github.png);
                                                background-size: cover;
                                            }

                                            .posts-list {
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                gap: 8rem;
                                                
                                                &::before {
                                                    content: '';
                                                    display: block;
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    right: 0;
                                                    bottom: 0;
                                                    background-color: rgba(#000000, 0.6);
                                                    z-index: -1;
                                                    border-radius: 24rem;
                                                }
                                                
                                                .posts-head {
                                                    .posts-subject {
                                                        font-size: 20rem;
                                                        font-weight: bold;
                                                    }
                                                }
                                                .posts-body {
                                                    line-height: 24rem;
                                                }
                                            }
                                            
                                            .button-display {
                                                margin-top: 54rem;
                                                .button-area {
                                                    .btn.more-view {
                                                        font-weight: 300;
                                                        font-size: 14rem;
                                                        letter-spacing: 0.5rem;
                                                        display: flex;
                                                        align-items: center;
                                                        gap: 2rem;

                                                        &::after {
                                                            content: '';
                                                            display: block;
                                                            width: 22rem;
                                                            height: 22rem;
                                                            background-image: url(/svg/arrow-right.svg);
                                                            background-size: cover;
                                                        }
                                                        
                                                        &:hover::after {
                                                                animation: arrow-right 1s infinite;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.section.web-port {
    position: relative;
    padding: 0 320rem;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100vw;
        left: calc(50% - 50vw);
        top: 0;
        bottom: 0;
        z-index: -1;
        background-color: rgb(247, 247, 247);
    }

    .section-body {
        position: relative;

        // swiper.js
        .posts-display {
            margin-top: 60rem;

            .posts-list {
                .posts-item {
                    .posts-figure {
                        .posts-thumnail {
                            overflow: hidden;
                            border-radius: 8rem;

                            .posts-image {
                                display: block;
                                width: 100%;
                                transition: all 0.3s ease;
                                border-radius: 8rem;

                                &:hover {
                                    transform: scale(1.02);
                                }
                            }
                        }
                    }
                    .posts-inform {
                        text-align: right;
                        margin-top: 12rem;
                        display: flex;
                        flex-direction: column;
                        row-gap: 6rem;

                        .posts-head {
                            .posts-subject {
                                font-size: 18rem;
                                line-height: 24rem;
                                font-weight: 500;
                                color: #313131;
                            }
                        }
                        .posts-body {
                            .data-list {
                                font-size: 14rem;
                                font-weight: 300;
                                .data-head {
                                    @include hidden;
                                }
                            }
                        }
                    }
                }
            }
        }

        .button-display {
            position: absolute;
            top: -100rem;
            right: 0;

            .button-area {
                .swiper-button-next,
                .swiper-button-prev {
                    margin: 0;
                    width: 44rem;
                    height: 44rem;
                    top: 0rem !important;
                    border: 1px solid #646464;
                    border-radius: 50%;
                    
                    &::after {
                        font-size: 13rem !important;
                        position: relative;
                        color: #646464;
                    }
                }

                .swiper-button-next {
                    right: 0;
                    &::after {
                        right: -1rem;
                    }
                }
                .swiper-button-prev {
                    left: auto;
                    right: 64rem;
                    &::after {
                        left: -1rem;
                    }
                }
            }
        }
    }
}

.section.design {
    padding: 0 320rem;

    .section-wrap {
        .section-body {
            width: 100vw;
            height: auto;
            margin-top: 60rem;

            .posts-display {
                .posts-list {
                    .posts-item {
                        overflow: hidden;

                        .posts-wrap {
                            .posts-figure {
                                .posts-thumnail {
                                    img {
                                        display: block;
                                        width: 100%;
                                        transition: all 0.3s ease;

                                        &:hover {
                                            transform: scale(1.03);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#footer {
    padding: 50rem 0;
    box-shadow: 0rem 0rem 2rem #aaa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 14rem;

    .section {
        .section-wrap {
            .section-head {
                @include hidden;
            }
            .section-body {
                display: flex;
                flex-direction: column;
                gap: 8rem;
                color: #292929;

                .para {
                    font-size: 16rem;
                    line-height: 26rem;
                    font-weight: 500;
                }

                .data-list {
                    display: flex;
                    gap: 10rem;

                    .data-item {
                        display: flex;
                        align-items: center;
                        gap: 10rem;
                        font-size: 15rem;

                        &:nth-child(2) {
                            &::before,
                            &::after {
                                content: '';
                                display: block;
                                width: 1rem;
                                height: 80%;
                                background-color: #aaa;
                            }
                        }
                    }
                }

                .copyright {
                    font-size: 14rem;
                }
            }
        }
    }
}
